/* Create a dark background. */
body {
	background: #000;
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/seattle.jpg');  
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-size: 100% 100%;
}

/* Fit the canvas to the page width. */
canvas {
	display: block;
}

.message {
  font-family: 'Tangerine', serif;
  font-size: 120px; 
  position: absolute; 
  top: 20px; 
  right: 100px;
}

.from {
  font-family: 'Tangerine', serif;
  font-size: 40px; 
  width: 400px; 
  position: absolute; 
  bottom: 85px; 
  left: 50%; 
  margin-left: -200px; 
  text-align: center;
}

.name {
  font-family: 'Tangerine', serif;
  font-size: 80px; 
  width: 600px; 
  position: absolute; 
  bottom: 0px; 
  left: 50%; 
  margin-left: -300px; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create {
  font-family: 'Tangerine', serif;
  font-size: 40px; 
  position: absolute; 
  bottom: 16px; 
  left: 20px;
  cursor: pointer;
}

.create:hover {
  font-size: 41px;
}

.credits {
  font-family: 'Tangerine', serif;
  font-size: 40px; 
  position: absolute; 
  bottom: 16px; 
  right: 20px;
  cursor: pointer;
}

.credits:hover {
  font-size: 41px;
}

/* form */
* {
  box-sizing: border-box;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  left: 20px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
