/* Create a dark background. */
body {
	background: #000;
  background-image: url("../img/Delhi 1.jpg");
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-size: auto 100%;
  background-position: center bottom;
}

/* Fit the canvas to the page width. */
canvas {
	display: block;
}

.message {
  font-family: 'Tangerine', serif;
  font-size: 60px; 
  position: absolute; 
  top: 20px; 
  left: 20px;
  padding-right: 5px;  
}

.name {
  font-family: 'Tangerine', serif;
  font-size: 50px; 
  position: absolute; 
  top: 100px; 
  right: 20px;
  padding-right: 5px;  
}

.speakerDiv {
  position: absolute; 
  cursor: pointer;
  position: absolute;
  left: 14px;
  bottom: 18px;
}

.personalize {
  font-family: 'Tangerine', serif;
  font-size: 36px; 
  position: absolute; 
  bottom: 10px;
  left: 60px;
  cursor: pointer;
}

.personalize:hover {
  font-size: 37px;
  text-decoration: underline;
}

.sharing {
  font-family: 'Tangerine', serif;
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  bottom: 10px; 
  left: 190px;
}

.sharing:hover {
  font-size: 37px;
  text-decoration: underline;
}

.about {
  font-family: 'Tangerine', serif;
  font-size: 36px; 
  position: absolute; 
  cursor: pointer;
  bottom: 10px;
  right: 20px;
}

.about:hover {
  font-size: 37px;
  text-decoration: underline;
}

/* form */
* {
  box-sizing: border-box;
}

.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
}

#personalizeForm {
  bottom: 35px;
  left: 5px;
}

#aboutPopup {
  bottom: 35px;
  right: 5px;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: #f9f7e8;
  max-width: 350px;
  padding: 1px 10px 1px 10px;
}

.form-container label {
  display: inline-block;
  width: 100px;
  padding-left: 10px;
  font-size: 14px;
}

.form-container input[type=text] {
  width: 224px;
  padding: 4px 8px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  font-size: 14px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin: 10px 5px 10px 5px;
  opacity: 0.8;
  float: right;
  overflow: hidden;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container div {
  padding: 4px 10px 4px 16px;
}

.form-container h3 {
  padding: 4px 8px 4px 8px;
  margin: 12px 2px 12px 2px;
  background-color: #fdcfb3;
}

.form-container select {
  width: 224px;
  padding: 4px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  font-size: 14px;
}

@media screen and (orientation: portrait){
  body {
    background-size: 100% auto;
    background-position: center center;
  }
  
  .message {
    font-size: 48px; 
    top: 10px; 
    left: 5px;
  }

  .name {
    font-size: 36px; 
    top: 80px; 
    right: 0px; 
  }

  .speakerDiv {
    bottom: 14px;
  }
}

@media screen and (min-width: 900px){
  .message {
    font-size: 70px; 
    top: 20px; 
    left: 20px;
    padding-right: 16px;
  }

  .name {
    font-size: 60px; 
    top: 120px; 
    right: 30px; 
    padding-right: 16px;
  }
  
  .personalize {
    font-size: 40px;
  }

  .about {
    font-size: 40px;
  }

  .sharing{
    font-size: 40px;
  }
  
  .personalize:hover {
    font-size: 41px;
  }

  .about:hover {
    font-size: 41px;
  }
  .sharing:hover {
    font-size: 41px;
  }
}